@model RegisterUserVM

@{
    ViewData["Title"] = "Register";
    Layout = "logInLayout";

}


<div class="container">
    <div class="Box">
        <h2 id="header">Register</h2>
        <form asp-action="Register">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="inBox form-group" id="fname">
                <i class="fa-regular fa-user"></i>
                <input type="text" placeholder="User Name" name="UserName" asp-for="UserName" class="form-control">
            </div>

            <div class="inBox  form-group" id="email">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" placeholder="Email" name="email" asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <div class="inBox form-group" id="pass">
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="Password" name="password" asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="inBox form-group" id="lname">
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="Confirm Pasword" name="ConfirmPassword" asp-for="ConfirmPassword" class="form-control">
            </div>


            <div id="select" class="form-group">
                <select id="sel" asp-for="Role" class="form-control">
                    <option value="0">-- Are you a doctor or patient ? --</option>
                    <option value="Patient">Patient</option>
                    <option value="Doctor">Doctor</option>
                </select>
            </div>
            <p id="Forget">You have an account <a asp-action="Login" asp-controller="Account">Login</a> </p>

            <div class="submit form-group">
                <input type="submit" value="Submit">
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
