html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #eee;
}

.records-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 auto;
    max-width: 1000px;
}

.record-card {
    background-color: #c9d9ee;
    border: 1px solid #c9d9ee;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}

    .record-card h3 {
        margin-top: 0;
        color: #264d7e;
    }

    .record-card p {
        margin: 10px 0;
        color: #264d7e;
        line-height: 1.6;
        text-indent: -2em;
        padding-left: 2em;
    }

.details-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #2e5f9b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

    .details-button:hover {
        background-color: #3c74b0;
    }
