#NavElements{
    justify-content: center;
    margin: 0 auto;
}
#LogInBtn{
    border: white 2px solid;
    border-radius: 10px 0 0 10px;
}
#RegBtn{
    border: white 2px solid;
    border-radius: 0 10px 10px 0;
}
#LogInBtn:hover,
#RegBtn:hover {
    background-color: white;
    color: rgb(75, 75, 239);
    font-weight: bold;

}
.nav-link{
    font-size: 18px;
    font-weight: 500;
    margin: 5px;
}
.nav-link:hover{
    border: 2px white solid;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
img{
    width: 80%;
    height: 750px;
}
/******************advantages***************************/
.advs{
    margin: 50px 0;
    background-color:rgba(13, 109, 253, 0.525);
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}

.advs .card{
text-align: center;
padding: 20px;
border: 1px grey solid;
border-radius: 20px;
width: 18%;
}
.advs .card i{
    font-size: 100px;

}
.advs .card h3{
    font-size: 35px;
    margin-top: 20px ;
}
.advs .card p{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.372);
}


/*footer*/
/* rgb(13 110 253) */
.footer{
}

.footer .col{
    margin-top: 50px;
    background-color:rgb(13 110 253);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}




.col1{
    text-align: center;
}

.col1 h2{
    padding-top: 50px;

    margin: 7px auto ;
    font-size: 40px;
}
.col1 p{
    font-size:  22px; ;
}

.col2 ,
.col3 ,
.col4{
    padding-top: 50px;
} 

.col2 a,
.col3 a,
.col4 a
{
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.footer .social i{
    cursor: pointer;
}
.chairs2{
    display: block;
}

.footer hr{
    background-color: white;
    /* width: 70%; */
}

.footer .social{
    display: flex;
    justify-content:center;
    background-color: rgb(13 110 253);

}

.footer .social i{
    margin: 25px;
    margin-top: 80px;
    font-size: 25px;
    color: white;
    align-items: center;

}

.footer .rights{
    text-align: center;
    background-color: rgb(13 110 253);
    color: white;
    font-size: 18px;
}



